@model IEnumerable<PeriodTracker.BLL.Models.UserWithTrackerVM>
    
@if (@TempData["SuccessMessage"] !=  null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@foreach (var item in Model.Select((value, i) => new{ value, i}))
{
    <h4>@(item.i + 1). @item.value.FullName's Tasks</h4>
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tracker</th>
            <th scope="col">StartDate</th>
        </tr>
        </thead>
        <tbody>

        @{
            foreach (var task in item.value.Trackers.Select((value, i) => new{ value, i}))
            {
                <tr>
                    <th scope="row">@(task.i + 1)</th>
                    <td>@task.value.StartDate</td>

                </tr>
            }
        }




        </tbody>
    </table>

}
